.header {
  background: #220049;
  color: white;
  padding: 1.2rem 2rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 0 12px rgba(123, 47, 247, 0.25);

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
